<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CurrencyApiEndpoint" value="https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies.json" />
    <add key="CurrencyPricesApiEndpoint" value="https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/usd.json" />
    <add key="DataPersistenceFilePath" value="currency_data.json" />
    <add key="LogFilePath" value="app.log" />
  </appSettings>
</configuration>